
<div class="row atlas-list-header">
			<div class="col-md-3">Marathon App</div>
			<div class="col-md-3">ACL</div>
			<div class="col-md-3">Instances</div>
			<div class="col-md-3"></div>
		</div>

		<div class="row atlas-list-mis-app atlas-list-line">
			<div class="col-md-3">/sucupira/frontend</div>
			<div class="col-md-3">path_beg sucupira.capes.gov.br</div>
			<div class="col-md-3">-</div>
			<div class="col-md-3 atlas-list-opts pull-right">
				Missing application in marathon <span
					class="btn btn-danger glyphicon glyphicon-trash"></span>
			</div>
		</div>

		<div class="row atlas-list-inactive-app atlas-list-line">
			<div class="col-md-3">/sucupira/frontend</div>
			<div class="col-md-3">path_beg sucupira.capes.gov.br</div>
			<div class="col-md-3">25</div>
			<div class="col-md-3 atlas-list-opts pull-right">

				<span class="btn btn-success glyphicon glyphicon-plus"></span>
			</div>
		</div>

		<div class="row atlas-list-active-app atlas-list-line">
			<div class="col-md-3">/sucupira/frontend</div>
			<div class="col-md-3">path_beg sucupira.capes.gov.br</div>
			<div class="col-md-3">3</div>
			<div class="col-md-3 atlas-list-opts pull-right">

				<span class="btn btn-primary glyphicon glyphicon-edit"></span> <span
					class="btn btn-danger glyphicon glyphicon-trash"></span>
			</div>
		</div>



