 carlos $body.getPortsMapping().size();
 
 #foreach ($port in $body.getPortsMapping())
 $port
 #end
 
#set ($acls = $body.getAcls(8080))

#foreach ($acl in $acls.keySet() )
 $acl
 $acls.get($acl)
 #end
 
 